* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

#hero {
  background-image: url("./images/hero-img.jpg");
  background-size: cover;
  height: 100vh;
}

.name {
  color: rgb(26, 114, 114);
  font-weight: bold;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-heading {
  font-weight: 700;
}

.hero-alt-text {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.profile-img {
  border-radius: 50%;
  border: 5px solid rgb(26, 114, 114);
}

.icon-container {
  background-color: rgb(77, 196, 196);
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  fill: #fff;
}

.cardbox {
  padding: 0 24px;
}

.resume-ter-heading {
  font-weight: 500;
  color: rgb(26, 114, 114);
}

.resume-sec-heading {
  color: rgb(26, 114, 114);
  font-weight: 700;
  text-align: center;
}

.skills-link {
  font-size: 1rem;
  text-align: center;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects .container {
  text-align: center;
}

.list-item {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.getintouchwithme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn-contactme {
  padding: 10px;
  background-color: rgb(26, 114, 114);
  color: #fff;
  border-radius: 10px;
  border: none;
}

.btn-contactme a {
  color: #fff;
  text-decoration: none;
}

#footer {
  background-color: rgb(156, 206, 206);
}
